### 1

In [93]:
my_list = [7, 2, 6, 12, 1, 32, 66, 43]
my_list.sort()
my_list.reverse()

In [94]:
my_list

[66, 43, 32, 12, 7, 6, 2, 1]

### 2

In [117]:
language = 'Pytjon'

In [118]:
t=list()
for i in language:
    t.append(i)   
t[3]='h'
language=''.join(t)
language

'Python'

### 3

In [115]:
my_string = 'Gəl, gəl a yaz günləri. İlin əziz günləri.'

In [116]:
my_s=my_string.split()
my_s.remove('yaz')
my_string=' '.join(my_s)
my_string

'Gəl, gəl a günləri. İlin əziz günləri.'

### 4

In [121]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

In [129]:
list1=set(list1)
list2=set(list2)
dif=list(list1.difference(list2))
dif

[1, 2]

### 5

In [596]:
a_string = 'This is a!Very,messy_text'

In [597]:
a_string=a_string.replace('!',' ')
a_string=a_string.replace(',',' ')
a_string=a_string.replace('_',' ')

In [598]:
a_string=a_string.lower()
a_string

'this is a very messy text'

### 6

In [208]:
x = tuple([1,2,3])

In [209]:
x=list(x)
x[0]=4
x=tuple(x)
x

(4, 2, 3)

### 7

In [331]:
n=141
a=list()

In [332]:
while(n>0):
    a.append(n%2)
    n=int(n/2)

In [333]:
a.reverse()
a

[1, 0, 0, 0, 1, 1, 0, 1]

### 8

### 1

In [334]:
d1 = {'Emin': {'class':11, 
 'age':17,
 'grades':{'Math':[90, 85, 74, 84], 
 'History':[54, 78, 68, 72],
 'Geography': [65, 79, 83, 71],
 'English': [80, 95, 92, 63]}
 },
 'Rovshan': {'class':10,
 'age':16,
 'grades':{'Math':[65, 49, 57, 62], 
 'History':[98, 94, 87, 92],
 'Geography': [88, 94, 79, 83],
 'English': [66, 74, 78, 68]
 }},
 'Gulnar': {'class':10,
 'age':17,
 'grades':{'Math':[85, 78, 82, 62], 
 'History':[75, 54, 62, 83],
 'Geography': [72, 63, 45, 59],
 'English': [88, 86, 92, 90]
 }}}

In [469]:
subj=dict()
avgg=dict()

In [509]:
for key,value in d1.items():
    print('\n')
    print(key)
    for keys,value in d1[key]['grades'].items():
        s=0;
        print(keys)
        for i in d1[key]['grades'][keys]:
            s+=int(i)      
        avg=s/len(d1[key]['grades'][keys])
        subj[keys]=avg
        print(avg)
    avgg[key]=subj

Emin
Math
83.25
History
68.0
Geography
74.5
English
82.5


Rovshan
Math
58.25
History
92.75
Geography
86.0
English
71.5


Gulnar
Math
76.75
History
68.5
Geography
59.75
English
89.0

In [510]:
avgg

{'Emin': {'Math': 76.75, 'History': 68.5, 'Geography': 59.75, 'English': 89.0},
 'Rovshan': {'Math': 76.75,
  'History': 68.5,
  'Geography': 59.75,
  'English': 89.0},
 'Gulnar': {'Math': 76.75,
  'History': 68.5,
  'Geography': 59.75,
  'English': 89.0}}

### 2

In [473]:
subj2=dict()
avgg2=dict()

In [474]:
for key,value in d1.items():
    print('\n')
    print(key)
    for keys,value in d1[key]['grades'].items():
        s=0;
        print(keys)
        s=d1[key]['grades'][keys][0]+d1[key]['grades'][keys][1]    
        avg=s/2
        subj2[keys]=avg
        print(avg)
    avgg2[key]=sunj2

Emin
Math
87.5
History
66.0
Geography
72.0
English
87.5


Rovshan
Math
57.0
History
96.0
Geography
91.0
English
70.0


Gulnar
Math
81.5
History
64.5
Geography
67.5
English
87.0

In [475]:
avgg2

{'Emin': {'Math': 76.75, 'History': 68.5, 'Geography': 59.75, 'English': 89.0},
 'Rovshan': {'Math': 76.75,
  'History': 68.5,
  'Geography': 59.75,
  'English': 89.0},
 'Gulnar': {'Math': 76.75,
  'History': 68.5,
  'Geography': 59.75,
  'English': 89.0}}

### 3

In [526]:
next={'Emin': {'Math': 70, 'History':75, 'Geography':79, 'English':83 },
'Rovshan': {'Math':78, 'History':90, 'Geography':86, 'English':95 },
'Gulnar': {'Math':94, 'History':56, 'Geography':97, 'English':99}}

In [522]:
next

{'Emin': {'Math': 70, 'History': 75, 'Geography': 79, 'English': 83},
 'Rovshan': {'Math': 78, 'History': 90, 'Geography': 86, 'English': 95},
 'Gulnar': {'Math': 94, 'History': 56, 'Geography': 97, 'English': 99}}

In [507]:
avgg

{'Emin': {'Math': 76.75, 'History': 68.5, 'Geography': 59.75, 'English': 89.0},
 'Rovshan': {'Math': 76.75,
  'History': 68.5,
  'Geography': 59.75,
  'English': 89.0},
 'Gulnar': {'Math': 76.75,
  'History': 68.5,
  'Geography': 59.75,
  'English': 89.0}}

In [527]:
for key,value in next.items():
    for keys,value in next[key].items():
        avg=0
        avg=next[key][keys]/5
        next[key][keys]=avg

In [528]:
next

{'Emin': {'Math': 14.0, 'History': 15.0, 'Geography': 15.8, 'English': 16.6},
 'Rovshan': {'Math': 15.6,
  'History': 18.0,
  'Geography': 17.2,
  'English': 19.0},
 'Gulnar': {'Math': 18.8, 'History': 11.2, 'Geography': 19.4, 'English': 19.8}}

In [531]:
subj=dict()
avgg=dict()

In [546]:
for key,value in d1.items():
    for keys,value in d1[key]['grades'].items():
        s=0;
        for i in d1[key]['grades'][keys]:
            s+=int(i)      
        avg=s/5
        avg+=next[key][keys]
        subj[keys]=round(avg,2)
    avgg[key]=subj

In [547]:
avgg

{'Emin': {'Math': 80.2, 'History': 66.0, 'Geography': 67.2, 'English': 91.0},
 'Rovshan': {'Math': 80.2,
  'History': 66.0,
  'Geography': 67.2,
  'English': 91.0},
 'Gulnar': {'Math': 80.2, 'History': 66.0, 'Geography': 67.2, 'English': 91.0}}

### 9

In [636]:
def grades(point):
    if(100>=point>=95):
        grade='A+'
    elif(95>point>=90):
        grade='A'
    elif(90>point>=85):
        grade='A-'
    elif(85>point>=80):
        grade='B+'
    elif(80>point>=75):
        grade='B'
    elif(75>point>=70):
        grade='B-'
    elif(70>point>=65):
        grade='C+'
    elif(65>point>=60):
        grade='C-'
    elif(60>point>=0):
        grade='F'
    return grade

In [637]:
grades(90)

'A'

### 10

In [630]:
action=0;
def number(m,n):
    action=int((m/n))
    action+=int(m%n)
    return action

In [631]:
number(31,7)

7