In [2]:
import numpy as np
import pandas as pd
import scipy.stats as ss
import matplotlib.pyplot as plt
import seaborn  as sns
import pymysql

In [10]:
conn=pymysql.connect(host='localhost',user='root',password='12345678',database='trening')

In [11]:
df=pd.read_sql('select * from c180308',con=conn)

C:\Users\u\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [12]:
df.head()

,id,date,avtosalon,salon_yn,marka,model,shekil_sayi,satilib,baxis_sayi,elan_tarix_title,...,yagish,qapanma,radar,kondisioner,podoqrev,deri,ksenon,kamera,perde,ventilyasiya
0,1,2018-03-08 22:12:54,none,0,Mercedes,C 200,9,yox,107,Yeniləndi,...,0,1,0,1,0,0,1,0,0,0
1,2,2018-03-08 22:12:54,none,0,Mitsubishi,Pajero,5,yox,78,Yeniləndi,...,0,1,1,1,0,0,0,1,0,0
2,3,2018-03-08 22:12:54,none,0,Mercedes,C 220,7,yox,118,Yeniləndi,...,1,1,0,1,0,0,0,0,0,0
3,4,2018-03-08 22:12:54,none,0,Volkswagen,Touareg,10,yox,1639,Yeniləndi,...,1,1,1,1,1,1,1,1,1,1
4,5,2018-03-08 22:12:54,none,0,Hyundai,Sonata,8,yox,227,Yeniləndi,...,1,1,1,1,1,1,0,0,1,0

In [41]:
df['muherrik_guc2']=df['muherrik_guc'].str.replace (' a.g.','').astype('float64')

C:\Users\u\AppData\Local\Temp\ipykernel_12860\2757651615.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['muherrik_guc2']=df['muherrik_guc'].str.replace (' a.g.','').astype('float64')

In [14]:
df['yurush2']=df['yurush'].str.replace (' km','')

In [15]:
df.qiymet_valyuta.value_counts()

AZN    22186
$       3446
€         36
Name: qiymet_valyuta, dtype: int64

In [16]:
df['price']=np.select(condlist=[df.qiymet_valyuta=='$',df.qiymet_valyuta=='€'],choicelist=[df.qiymet*1.7,df.qiymet*2.09],default=df.qiymet)

In [17]:
sample=df.sample(20,random_state=1)
sample.head()

,id,date,avtosalon,salon_yn,marka,model,shekil_sayi,satilib,baxis_sayi,elan_tarix_title,...,radar,kondisioner,podoqrev,deri,ksenon,kamera,perde,ventilyasiya,yurush2,price
6589,6590,2018-03-08 22:24:46,"Avtosalon ""100 Cars""",1,Lexus,LX 470,21,yox,15945,Yeniləndi,...,1,1,1,1,1,1,1,1,25 726,68850.0
231,232,2018-03-08 22:13:17,none,0,GAZ,330202-740,12,yox,181,Yeniləndi,...,0,0,0,0,0,0,0,0,77 000,5200.0
16047,16048,2018-03-08 23:13:19,none,0,LADA (VAZ),Niva,7,yox,366,Yeniləndi,...,0,0,0,0,0,0,0,0,105 000,8400.0
11624,11625,2018-03-08 22:50:09,none,0,Ford,Tourneo Connect,12,yox,1137,Yeniləndi,...,0,1,0,0,0,0,0,0,172 700,15500.0
21450,21451,2018-03-08 23:22:44,none,0,Tofas,Sahin,5,yox,931,Yeniləndi,...,0,0,0,0,0,0,0,0,250 000,2400.0

In [35]:
df['price'].mean()

18461.090717235467

In [62]:
sample['price'].mean()

17104.6

In [34]:
df['price'].var()

901332711.5738552

In [63]:
sample['price'].var()

769747781.0947366

In [39]:
df['price'].median()

10500.0

In [40]:
df['price'].mode()

0    4500.0
Name: price, dtype: float64

In [41]:
df['shekil_sayi'].value_counts()[:5]

7    3444
6    3371
8    3097
5    2590
9    2470
Name: shekil_sayi, dtype: int64

In [55]:
ss.ttest_1samp(sample['shekil_sayi'],10)

Ttest_1sampResult(statistic=-0.9612555113260537, pvalue=0.34849834428408655)

In [53]:
sample['shekil_sayi'].var(ddof=1)

13.85263157894737

In [54]:
sample['shekil_sayi'].var()

9.2

In [60]:
df['price']

0         9750.0
1        13800.0
2         9900.0
3        32810.0
4        18700.0
          ...
25663     5500.0
25664    32100.0
25665     3000.0
25666    32100.0
25667     8700.0
Name: price, Length: 25668, dtype: float64

In [70]:
ss.wilcoxon(sample['price']-20000)

WilcoxonResult(statistic=39.0, pvalue=0.012079238891601562)

In [66]:
sample['price'].median()

8950.0

In [72]:
ss.ks_1samp(sample['shekil_sayi'],ss.norm.cdf)

KstestResult(statistic=0.9999997133484281, pvalue=2.8061866176047734e-131)

### two sample test

In [42]:
sample2=df[(df.marka=='Toyota')&(df.qiymet_valyuta=='AZN')].sample(20,random_state=1)

In [19]:
sample3=df[(df.marka=='Toyota')&(df.qiymet_valyuta=='$')].sample(20,random_state=1)

In [83]:
F=sample2['price'].var(ddof=1)/sample3['price'].var(ddof=1)
F

0.17288118502285962

In [85]:
1-ss.f.cdf(F,19,19)

0.9998218230636718

In [18]:
sample4=df[(df.marka=='Toyota')&(df.qiymet_valyuta=='AZN')].sample(20,random_state=2)
sample5=df[(df.marka=='Toyota')&(df.qiymet_valyuta=='AZN')].sample(20,random_state=33)

In [93]:
F1=sample2['price'].var(ddof=1)/sample4['price'].var(ddof=1)
F

0.17288118502285962

In [97]:
ss.ttest_ind(sample2['price'],sample4['price'])

Ttest_indResult(statistic=-8.018661752753339, pvalue=1.0768509004776572e-09)

In [ ]:
ss.ttest_ind(sa

In [100]:
mple2['price'],sample3['price'])

Ttest_indResult(statistic=-5.6839154934100025, pvalue=1.5452074316157421e-06)

In [6]:
ss.ttest_rel(pre,post)

Ttest_relResult(statistic=102.71878933248887, pvalue=3.985721702187597e-15)

In [3]:
pre=140+np.random.rand(10)
post=120+np.random.rand(10)

In [4]:
pre

array([140.38488119, 140.08781624, 140.75847958, 140.20590818,
       140.97181144, 140.15855541, 140.87893337, 140.90791026,
       140.55018698, 140.14887352])

In [5]:
post

array([120.43715175, 120.95559227, 120.58270391, 120.21670139,
       120.14836786, 120.9319997 , 120.1713809 , 120.32359863,
       120.74321552, 120.83306356])

In [7]:
ss.wilcoxon(pre,post)

WilcoxonResult(statistic=0.0, pvalue=0.001953125)

In [21]:
ss.mannwhitneyu(sample2['price'],sample['price'])

MannwhitneyuResult(statistic=345.0, pvalue=9.256855465327253e-05)

In [25]:
ss.ks_2samp(sample2['price'],sample4['price'])

KstestResult(statistic=0.85, pvalue=1.4334782434603487e-07)

In [26]:
ss.epps_singleton_2samp(sample2['price'],sample4['price'])

Epps_Singleton_2sampResult(statistic=71.93137544092298, pvalue=8.873584218177598e-15)

In [27]:
ss.bartlett(sample2['price'],sample4['price'],sample5['price'])

BartlettResult(statistic=11.403080379114481, pvalue=0.0033408160030007415)

In [31]:
ss.levene(sample2['price'],sample4['price'],sample5['price'])

LeveneResult(statistic=6.757923840458191, pvalue=0.002324136083717744)

In [34]:
ss.f_oneway(sample10['price'],sample11['price'],sample12['price'])

F_onewayResult(statistic=0.006141954526902947, pvalue=0.9938772996280884)

In [44]:
sample10=df.sample(30)
sample11=df.sample(30)
sample12=df.sample(30)

In [37]:
ss.kruskal(sample10['price'],sample11['price'],sample12['price'])

KruskalResult(statistic=0.7467105227046984, pvalue=0.6884206201553098)

In [ ]:
ss.kruskal(sample10['price'],sample11['price'],sample12['price'])

In [39]:
sample13=df[df.marka=='Porsche'].sample(30)

In [48]:
ss.pearsonr(sample10.price,sample10.shekil_sayi)

(0.09049061003373517, 0.634391608541768)

In [50]:
ss.spearmanr(sample10.price,sample10.muherrik_guc2)

SpearmanrResult(correlation=0.7927659400409766, pvalue=1.765745306663109e-07)